<mat-toolbar class="header">
    <div class="links main-links">
        <div class="link-wrapper">
            <mat-icon aria-hidden="false" aria-label="Example home icon">store</mat-icon>
            <a routerLink="/store">Store</a>
        </div>

        <div class="link-wrapper">
            <mat-icon aria-hidden="false" aria-label="Example home icon">time_to_leave</mat-icon>
            <a routerLink="/services">Services</a>
        </div>

        <div class="link-wrapper">
            <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
            <a routerLink="/about">About</a>
        </div>

        <div class="link-wrapper">
            <mat-icon aria-hidden="false" aria-label="Example home icon">contacts</mat-icon>
            <a routerLink="/contacts">Contacts</a>
        </div>
    </div>

    <div class="links secondary-links">
        <div class="link-wrapper">
            <a routerLink="/login">Login</a>
        </div>
    
        <div class="link-wrapper">
            <a routerLink="/register">Register</a>
        </div>
    </div>
</mat-toolbar>