.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.logo{
    display: block;
    margin-top: 40px;
    width: 100px;
}

.links.main-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.link-wrapper{
    display: flex;
    align-items: center;
}

.links a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

.user-options button{
    font-size: 15px;
    width: 100px;
    height: 35px;
    margin-left: 5px;
    padding-left: 11px;
}

.user-options .mat-icon{
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    .header{
        position: unset;
    }

    .header.admin{
        height: 340px;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    .header.admin .logo{
        width: 80px;
        margin-top: 5px;
    }

    .header.admin .user-options button{
        display: block;
    }

    .header.admin .links.main-links{
        width: auto;
        margin-left: 0;
        height: 120px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }

    .links a{
        font-size: 16px;
    }

    .btn.logout{
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .header{
        height: 300px;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
    }

    .logo{
        width: 80px;
        margin-top: 5px;
    }

    .user-options button{
        display: block;
    }

    .btn.sign-up{
        margin-top: 5px;
    }

    .links.main-links{
        width: auto;
        margin-left: 0;
        height: 120px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
}