.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 45%;
    margin: 0 auto;
    text-align: center;
}

.template{
    display: flex;
}

.add-service-template{
    min-height: 65vh;
}

.header{
    display: block;
}

.note{
    color: red;
    margin-top: 40px;
}

.invalid-field{
    position: absolute;
    color: red;
}

.field{
    margin-top: 20px;
}

.tag-label{
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

.make-appointment-form input {
    margin-top: 25px;
}

.hour-wrapper{
    margin: 25px 0;
}

.date{
    margin-top: 20px;
}

.btn-sign-up{
    margin-top: 10px;
}

.wrapper.add-service-form-wrapper{
    height: 300px;
}

.btn.add-service{
    height: 40px;
}

.btn-finish{
    margin: 20px 0;
}