.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 45%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}

.template{
    display: flex;
}

.add-service-template{
    min-height: 65vh;
}

.header{
    display: block;
}

.note{
    color: red;
    margin-top: 40px;
}

.invalid-field{
    position: absolute;
    color: red;
}

.field{
    margin-top: 20px;
}

.date{
    margin-top: 20px;
}

.btn-sign-up{
    margin-top: 10px;
}

.wrapper.add-service-form-wrapper{
    height: 300px;
}

.btn.add-service{
    height: 40px;
}
