.main-content{
    display: flex;
}

.filters{
    flex-grow: 1;
}

.filters .header{
    display: block;
}

.filter-price{
    margin-top: 5px;
}

.loader{
    position: absolute;
    left: 48%;
}

.products-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-around;
    width: 80%;
    min-height: 100vh;
}

.product-card{
    padding: 20px;
    text-align: center;
    transition: transform .2s ease-in;
    margin-bottom: 30px;
}

.product-card.out-of-stock{
    transition: none;
}

.product-card.out-of-stock:hover{
    transform: none;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.product-card:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0 10px 5px lightgray;
}

.product-image{
    height: 13vw;
    max-height: 300px;
    object-fit: cover;
    max-width: 100%;
}

.overlay > .stock-title{
    margin: 35% auto 0 auto;
    color: #000000;
}

.product-title{
    margin-bottom: 5px;
}

.title, .price{
    font-weight: bold;
}

.title{
    font-size: 16px;
    height: 4rem;
}

.price{
    color: red;
    font-size: 20px;
}

.last-items{
    color: red;
    font-size: 13px;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .title{
        height: 5.5rem;
    }
}

@media only screen and (max-width: 900px) {
    .title{
        height: 6rem;
    }
}

@media only screen and (max-width: 800px) {
    .products-wrapper{
        grid-template-columns: repeat(3, 29%);
    }

    .title{
        height: 6.5rem;
    }
}

@media only screen and (max-width: 700px) {
    .products-wrapper{
        grid-template-columns: repeat(3, 29%);
    }

    .title{
        height: 7rem;
    }
}

@media only screen and (max-width: 600px) {
    .products-wrapper{
        grid-template-columns: repeat(2, 44%);
    }

    .title{
        height: 7.5rem;
    }
}

@media only screen and (max-width: 470px) {
    .products-wrapper{
        grid-template-columns: repeat(1, 90%);
        margin: 0 auto;
    }

    .product-image{
        height: auto;
    }

    .title{
        height: 7rem;
    }

    .main-content{
        flex-direction: column;
    }

    .filters{
        flex-grow: 0.4;
        margin-bottom: 20px;
    }

    .loader{
        top: 800px;
    }
}