.page-loading {
    height: 100vh;
}

.main-content{
    display: flex;
}

.filter-tag{
    flex-grow: 1;
}

.filter-tag .header{
    display: block;
}

.loader{
    position: absolute;
    top: 30%;
    left: 48%;
}

.products-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-around;
    width: 80%;
}

.product-card{
    padding: 20px;
    text-align: center;
    transition: transform .2s ease-in;
    margin-bottom: 30px;
}

.product-card:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0 10px 5px lightgray;
}

.title, .price{
    font-weight: bold;
}

.price{
    color: red;
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    .products-wrapper{
        grid-template-columns: repeat(3, 29%);
    }
}

@media only screen and (max-width: 600px) {
    .products-wrapper{
        grid-template-columns: repeat(2, 44%);
    }
}

@media only screen and (max-width: 420px) {
    .products-wrapper{
        grid-template-columns: repeat(1, 88%);
    }

    .main-content{
        flex-direction: column;
    }

    .filter-tag{
        flex-grow: 0.4;
        margin-bottom: 20px;
    }
}