<div [ngClass]="{'page-wrapper': true, 'page-loading': isLoading}">
    <div class="main-content">
        <div class="filter-tag">
            <mat-card>
                <mat-card-header class="header">
                    <h4>Tag</h4>
                </mat-card-header>
                <mat-card-content class="tags">
                    <div *ngFor="let productTag of productTags">
                        <section>
                            <mat-checkbox class="example-margin" color="primary"
                                (change)="onTagChange(productTag.name, $event)"
                                [checked]='selectedProductTags.includes(productTag.name)'>
                                {{productTag.name}}
                            </mat-checkbox>
                        </section>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="products-wrapper">
            <div *ngFor="let product of products">
                <mat-card (click)="handleProductClick(product._id)" class="product-card">
                    <img class="product-image" mat-card-image src="{{product.imageUrl}}" alt="Photo of a Product">
                    <mat-card-content class="title">
                        <p>
                            {{product.title}}
                        </p>
                    </mat-card-content>
                    <mat-card-footer>
                        <span class="price">{{product.price + ' BGN.'}}</span>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>

    <div>
        <mat-paginator [length]="length" [pageIndex]="pageIndex - 1" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" aria-label="Select page">
        </mat-paginator>
    </div>
</div>