.page-loading{
    height: 100vh;
}

.product-card{
    padding-bottom: 40px;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
}

img{
    display: block;
    width: 40%;
}

.overlay > .stock-title{
    margin: 20% auto 0 auto;
    width: fit-content;
    color: #000000;
}

.last-items{
    color: red;
    font-size: 16px;
    margin: 0 auto;
    width: fit-content;
}

.footer{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.btn.add-to-cart{
    margin-top: 10px;
    max-width: 100%;
}

@media only screen and (max-width: 500px) {
    .product-card{
        width: fit-content;
    }
}