.page-wrapper{
    display: flex;
    min-height: 65vh;
}

.products-wrapper{
    margin-right: 15px;
}

.loader{
    position: absolute;
    left: 47%;
}

.price-section{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: 250px;
}

.price-section .content{
    font-size: 17px;
}

.buttons {
    margin-top: 15px;
}

.store-btn{
    margin-top: 5px;
}

@media only screen and (max-width: 800px) {
    .page-wrapper{
        flex-direction: column;
    }

    .products-wrapper{
        margin-right: 0;
    }    

    .price-section{
        margin: 30px auto 0 auto;
        width: fit-content;
    }
}