.page-wrapper{
    font-size: larger;
}

.content{
    display: flex;
    padding: 15px;
}

.info{
    font-weight: 500;
    margin-left: 70px;
    height: 250px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.contact-methods{
    font-size: 17px;
}

@media only screen and (max-width: 1000px) {
    .content{
        flex-direction: column;
    }

    .info{
        margin-left: 0;
        height: fit-content;
    }
}