<div class="page-wrapper">
    <mat-card class="wrapper">
        <mat-card-header class="header">
            <h2>Contacts</h2>
        </mat-card-header>
        <mat-card-content class="content">
            <div class="map">
                <app-map [url]="mapUrl" (handleMapLoad)="handleMapLoad()"></app-map>
            </div>
            <mat-card class="info">
                <mat-card-content>
                    <div class="contact-methods">
                        <p>
                            Phone: +359 876 312 313
                        </p>
                        <p>
                            Facebook: Auto-Zone
                        </p>
                        <p>
                            Working schedule: Monday - Friday
                        </p>
                        <p>
                            9:00 - 19:00
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>