/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar, .snackbar button {
    color: #ffffff;
}
.success-snackbar {
    background: rgb(0, 187, 0);
}

.error-snackbar{
    background: rgb(255, 0, 0);
}

.mat-card-content{
    max-width: 100%;
}

.mat-form-field{
    width: 100%;
}
