.product-card{
    display: flex;
    padding: 30px;
    align-items: center;
    margin-top: 20px;
}

img{
    display: block;
    width: 150px;
    margin-right: 20px;
}

.title-wrapper{
    width: 60%;
}

.title{
    display: block;
    font-size: larger;
    color: #000000;
    margin: 0 100px 0 70px;
    text-decoration: none;
}

.title:hover{
    text-decoration: underline;
}

.price{
    font-size: 20px;
    font-weight: bold;
}

.remove-icon{
    position: absolute;
    right: 10px;
    top: 10px;
}

.remove-icon :hover{
    cursor: pointer;
}

.mat-card-content{
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .product-card{
        flex-direction: column;
    }

    .quantity, .title-wrapper{
        margin-bottom: 30px;
    }

    .title{
        margin: 0;
    }
}