<div class="page-wrapper">
    <mat-card class="wrapper">
        <mat-card-header class="header">
            <h2>About</h2>
        </mat-card-header>
        <mat-card-content class="content">
            <figure>
                <img src='https://res.cloudinary.com/{{cloudName}}/image/upload/v1604498894/mechanic_vuzr4q.jpg'
                    alt="mechanic" />
            </figure>

            <div class="description">
                <i class="important">Auto Zone</i> is a company with over 20 years of experience since it has been
                created.
                Here you will meet our 5 high qualified mechanics who are so kind and ready to help you at any time.
                You are able to choose from variety of services like:

                <ul>
                    <li>
                        MOT (Ministry of transport) test ( 30 vl. )
                    </li>
                    <li>
                        Car Wash ( 25lv. )
                    </li>
                    <li>
                        Car service ( depends on the defect )
                    </li>
                </ul>

                We are growing so we are constantly adding new services for your needs!
                Now we give our customers the opportunity to make an appointment through our site. No more waste of
                time!
                Car Center also helps you to maintain your car as it provides wide range of products most needed.
                Delivery price is fixed to 5 lv. and if your purchase is greater than 50 lv. it is <span
                    class="important">FREE</span>.
                Go to our store page and make an order now!
            </div>
        </mat-card-content>
    </mat-card>
</div>