.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 45%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

.header{
    display: block;
}

.invalid-field{
    position: absolute;
    color: red;
}

.field{
    margin-top: 20px;
}

.total-price{
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
}

.btn-finish{
    width: 150px;
    margin-top: 7px;
}